body {
  .view {
    .inst {
      display: flex;
      align-items: center;
      font-size: 0;

      &__name {
        display: inline-block;
        font-size: 12px;
        width: 50px;
        margin: 0;
      }

      &__steps {
        display: inline-block;

        .step {
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 1px solid #fff;
          background-color: #eee;

          &.now { background-color: #aaa; }
          &.active { background-color: #f99; &.now { background-color: #a99; } }
          &.accent { background-color: #f00; &.now { background-color: #a00; } }
        }
      }
    }
  }

  .form {
    margin-top: 50px;
    
    label {
      display: inline-block;
      width: 50px;
      font-size: 12px;
    }
  }
}
